extends ../layouts/app

block seo 
  title Create a Post 

block content 

  // Banner
  section#banner
    .content
      form(action=`/post/${id}/edit` method="POST")
        label Title
        input(type="text" name="title" id="demo-name" value=`${title}` placeholder="Name")
        label Description 
        textarea(name="description" id="demo-message" placeholder="Enter your message" rows="6")= description
        label IMage URL
        input(type="text" name="image_url" id="demo-name" value=`${image_url}` placeholder="Image URL")
        input(type="submit" value="Send Message" class="primary")

        a(href=`/post/${id}/delete`) Delete Post